<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-5 " id="delCoin">
    <h1 class="h2">Editar monedas</h1>
</div>
<table class="table" id="table">
    <thead>
        <tr>
            <th scope="col">#ID</th>
            <th scope="col">Name</th>
        </tr>
    </thead>
    <tbody id = "cuerpo">
    </tbody>
</table>

<div class="modal fade" id="user" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Editar</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="#" method="post" id="form_edit" name="form_edit">
                    <div class="mb-3">
                        <input type="hidden" id="id" name="id">
                        <label for="" class="form-label">Usuario</label>
                        <input type="text" class="form-control" id="name_user" name="name_user">
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">Nombre</label>
                        <input type="text" class="form-control" id="name" name="name">
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">Apellidos</label>
                        <input type="text" class="form-control" id="surname" name="surname">
                    </div>
                    <div class="mb-3">
                        <label for="" class="form-label">Role</label>
                        <select type="text" class="form-select" id="role" name="role">
                            <option id = "v_user" value="usuario">Usuario</option>
                            <option id = "v_admin" value="admin">Administrador</option>
                        </select>
                    </div>
            </div>
            <div class="modal-footer">
                <button type="submit" class="btn text-white boton" id="btn-edit">Editar</button>
            </div>
            </form>
        </div>
    </div>
</div>