  <div class="col-md-4 d-flex align-items-center">
    <a href="/" class="mb-3 me-2 mb-md-0 ps-3 text-muted text-decoration-none lh-1 mx-2">
      <img src="./resources/img/logo-no-background-bw.svg" alt="" width="30" height="50">
</a>
    <span class="text-white">© 2021 Fi.o, </span>
</div>

  <ul class="nav col-md-4 justify-content-end list-unstyled d-flex mx-3">
    <li class="ms-3">
      <a class="text-white" href="#">
        <i class="bi bi-instagram"></i>
      </a>
    </li>
    <li class="ms-3">
      <a class="text-white" href="#">
        <i class="bi bi-twitter"></i>
      </a>
    </li>
    <li class="ms-3">
      <a class="text-white" href="#">
        <i class="bi bi-facebook"></i>
      </a>
    </li>
  </ul>
